.transaction-page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .transaction-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .transaction-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .info-item123 {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .info-label123 {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .info-value123 {
    margin-right: 15px;
  }
  
  /* Add additional styling as per your requirements */
  